<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="ConfigSection" type="System.Configuration.NameValueSectionHandler" />
        <section name="ConfigSection2" type="System.Configuration.NameValueSectionHandler" />
        <!--<section name="ConfigSection2" type="System.Configuration.AppSettingsSection" />-->
        <!--<section name="ConfigSection2" type="System.Configuration.AppSettingsSection, System.Configuration" />-->
    </configSections>
    <appSettings>
        <add key="buttonNamesFilePath" value="d:\\ENTAHR BUTTON NAMES.txt" />
        <add key="CakeFilePath" value=".\\Resources\\happy-birthday-text.gif" />
        <add key="CaptchaLength" value="4" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="CodeActive" value="Active" />
        <add key="CodeApprovedLeaveEntryRequest" value="Approved" />
        <add key="CodeBranchMovement" value="BranchMovement" />
        <add key="CodeClaimForType" value="ClaimForType" />
        <add key="CodeDay" value="Day" />
        <add key="CodeDemotion" value="Demotion" />
        <add key="CodeDetail" value="Detail" />
        <add key="CodeDocumentControl" value="DOCUMENT_CONTROL" />
        <add key="CodeDocumentJFA" value="DOCUMENT_JFA" />
        <add key="CodeEmailHost" value="EMAIL_HOST" />
        <add key="CodeEmailPort" value="EMAIL_PORT" />
        <add key="CodeEmployeeCourse" value="EMPLOYEE_COURSE" />
        <add key="CodeEmployeeLetter" value="EMPLOYEE_LETTER" />
        <add key="CodeEmployeeLetterTemplate" value="EMPLOYEE_LETTER_TEMPLATE" />
        <add key="CodeEmployeeTraining" value="EMPLOYEE_TRAINING" />
        <add key="SalaryLetterForBankType" value="SALARY_LETTER_FOR_BANK" />
        <add key="CodeSalaryLetterForBankTemplate" value="SALARY_LETTER_FOR_BANK_TEMPLATE" />
        <add key="CodeEnableSsl" value="EMAIL_ENABLE_SSL" />
        <add key="CodeEndAssign" value="EndAssign" />
        <add key="CodeFolderPath" value="FolderPath" />
        <add key="CodeHistory" value="History" />
        <add key="CodeHold" value="Hold" />
        <add key="CodeInstallment" value="Installment" />
        <add key="CodeJobPosition" value="JOB_POSITION" />
        <add key="CodeJoin" value="Join" />
        <add key="CodeMutation" value="Mutation" />
        <add key="CodeNetworkPassword" value="NETWORK_PASSWORD" />
        <add key="CodeNetworkUserName" value="NETWORK_USER_NAME" />
        <add key="CodeNewAssign" value="NewAssign" />
        <add key="CodeNotPaidYet" value="NotPaidYet" />
        <add key="CodeOpenRequest" value="Open" />
        <add key="CodeOtherOvertimeRequestFor" value="OTHER" />
        <add key="CodePaid" value="Paid" />
        <add key="CodeParameters" value="Parameters" />
        <add key="CodePayroll" value="Payroll" />
        <add key="CodePaySlip" value="PAYSLIP" />
        <add key="CodePaySlip2Profiles" value="PAYSLIP2PROFILES" />
        <add key="CodePaySlipFrom" value="PAYSLIP_FROM" />
        <add key="CodePaySlipGenpact" value="PAYSLIPGENPACT" />
        <add key="CodePaySlipInfoSys" value="PAYSLIPINFOSYS" />
        <add key="CodePayslipLogo" value="PAYSLIP_LOGO" />
        <add key="CodePaySlipMailBody" value="PAYSLIP_MAIL_BODY" />
        <add key="CodePaySlipMailSubject" value="PAYSLIP_MAIL_SUBJECT" />
        <add key="CodePeriod" value="PeriodMonthly" />
        <add key="CodePromotion" value="Promotion" />
        <add key="CodePromotionGantiAtasan" value="PromotionGantiAtasan" />
        <add key="CodeRehire" value="Rehire" />
        <add key="CodeRejectedRequest" value="Rejected" />
        <add key="CodeRelationTypeChildNo" value="Ch" />
        <add key="CodeResign" value="Resign" />
        <add key="CodeSelfRequestFor" value="SELF" />
        <add key="CodeSql" value="sql" />
        <add key="CodeSummary" value="Summary" />
        <add key="CodeTerminated" value="Terminated" />
        <add key="CodeUseDefaultCredential" value="USE_DEFAULT_CREDENTIAL" />
        <add key="ConnectionStringName" value="hr" />
        <add key="CurrencyDecimalPlaces" value="2" />
        <add key="CurrencyDisplayFormat" value="N2" />
        <add key="CustomReportFormId" value="1" />
        <add key="DashboarRowSeparatorCount" value="4" />
        <add key="DatePickerFormat" value="dd/MM/yyyy" />
        <add key="DayTypeHoliday" value="HD" />
        <add key="DefaultEndDate" value="1 jan 6000" />
        <add key="DefaultLanguageCode" value="EN" />
        <add key="DefaultStartDate" value="1 jan 1800" />
        <add key="DefaultTextBoxBackColor" value="White" />
        <add key="EmployeeCountPerDocxFile" value="100" />
        <add key="EmployeeLetterDocumentFilePath" value="\\\\DEVSVR02\\Entadev\\RecruitmentFiles\\Documents\\" />
        <add key="EmploymentStatus" value="EmploymentStatus"></add>
        <add key="enta.server" value="localhost" />
        <add key="enta.server.port" value="1088" />
        <add key="ErrorLogFilePathFormat" value="d:\\ENTAHR ERROR LOG {0:yyyy MM dd hhmmss}.txt" />
        <add key="FaqDocumentFilePath" value="\\\\DEVSVR02\\Entadev\\FAQ\\" />
        <add key="GridDateFormat" value="dd/MMMM/yyyy" />
        <add key="HolidayCellBackColor" value="PapayaWhip" />
        <add key="HolidayCellForeColor" value="Crimson" />
        <add key="IsDebuggingMode" value="true" />
        <add key="IsEmployeeNumberEnabled" value="true" />
        <add key="IsPrintingPaySlipRdlc" value="false" />
        <add key="IsShowingSlipType" value="true" />
        <add key="JobPortalRoleName" value="Job Portal Users" />
        <add key="LargeDataPageIndex" value="2000" />
        <add key="LeaveEntryRequestDocumentFilePath" value="\\\\DEVSVR02\\Entadev\\EntaDevESS32\\LeaveEntryDocumentFile\\" />
        <add key="LicenseExpiredDateReminderDays" value="10" />
        <add key="LicenseFilePathFormat" value="\\\\DEVSVR02\\Entadev\\EntaDevV3\\Path License\\license item {0}.LCS" />
        <add key="LicensePath" value="\\DEVSVR02\Entadev\EntaDevV3\Path License\" />
        <add key="LicenseRequestPath" value="\\DEVSVR02\Entadev\EntaDevV3\LicenseRequestFiles\" />
        <add key="MaximumEmployeeBelowBufferPercentage" value="10" />
        <add key="MaximumLoanPeriodMonth" value="3u5pz0Qc2McnXBsZWMi7QA==" />
        <add key="MaxLogoHeight" value="100" />
        <add key="MaxLogoWidth" value="100" />
        <add key="MinimumLoanMonthlyPayment" value="UYgru+M1NrxFpav5HXtSfg==" />
        <add key="ModeAttendanceMachineFileType" value="AttMachineFileType" />
        <add key="ModeAttendanceReportType" value="AttendanceReportType" />
        <add key="ModeAttendanceStatus" value="AttendStatus" />
        <add key="ModeEmployeeDocumentType" value="EMPLOYEE_DOCUMENT_TYPE" />
        <add key="ModeDocumentJFAType" value="DOCUMENT_JFA_TYPE" />
        <add key="ModeEmployeeLetterType" value="EMPLOYEE_LETTER_TYPE" />
        <add key="ModeEsptTemplate" value="EsptTemplate" />
        <add key="ModeLoanProcessBase" value="LoanProcessBase" />
        <add key="ModeLoanReportType" value="LoanReportType" />
        <add key="ModeLoanStatus" value="LoanStatus" />
        <add key="ModeMainAttendanceStatus" value="MainAttendanceStatus" />
        <add key="ModePaymentMethod" value="PaymentMethod" />
        <add key="ModePaymentStatus" value="PaymentStatus" />
        <add key="ModuleNameEntaEss" value="EntaEss" />
        <add key="NotAssignedCellBackColor" value="Gainsboro" />
        <add key="NotAssignedCellForeColor" value="Black" />
        <add key="NullDateBackColorName" value="Green" />
        <add key="PatternCodeClaimCode" value="EssClaimCode" />
        <add key="PatternCodeDirectClaimCode" value="CLA" />
        <add key="PatternCodeEmployeeLetter" value="CLP" />
        <add key="PatternCodeEmployeeNumber" value="EmpCode" />
        <add key="PatternCodeLeave" value="EssLeaveCode" />
        <add key="PatternCodeLoanEntry" value="LoanEntry" />
        <add key="PaymentHoldBackColorName" value="Gainsboro" />
        <add key="PaymentPaidBackColorName" value="LightSteelBlue" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="PublicHolidayBackColor" value="Red" />
        <add key="ReadOnlyBackColorName" value="Aqua" />
        <add key="RecruitmentDocumentFilePath" value="\\\\DEVSVR02\\Entadev\\RecruitmentFiles\\Documents\\" />
        <add key="RecruitmentProfilePicturePath" value="\\\\DEVSVR02\\Entadev\\RecruitmentFiles\\Documents\\" />
        <add key="RecruitmentRequestDocumentFilePath" value="\\\\DEVSVR02\\Entadev\\EntaDevESS32\\RecruitmentFiles\\Documents\\" />
        <add key="ReminderFilePath" value=".\\Resources\\reminder.gif" />
        <add key="ReportDateAndTimeFormat" value="dd/MM/yyyy HH:mm" />
        <add key="ReportDateFormat" value="dd/MM/yyyy" />
        <add key="ReportTimeFormat" value="HH:mm" />
        <add key="RequestTypeEmployee" value="Employee" />
        <add key="RequestTypeLeave" value="Leave" />
        <add key="RequestTypeLeaveCancel" value="Leave Cancel" />
        <add key="ShiftChangedBackColorName" value="Yellow" />
        <add key="ShiftNameNotAssigned" value="NOT ASSIGNED" />
        <add key="ShiftNameOffDay" value="OFFDAY" />
        <add key="SuperAdminUserName" value="dmQHXg2P+eJxZqpI48z1wQ==" />
        <add key="TestingEmail" value="anton@bizintek.com" />
        <add key="TestingMachineNames" value="" />
        <add key="TestingMachineNames" value="BITxxxx48" />
        <add key="TypeBpjsKelasRawat" value="BPJSKelasRawat" />
        <add key="TypeClaimTypeGroup" value="ClaimTypeGroup" />
        <add key="TypeClaimTypeGroup" value="ClaimTypeGroup" />
        <add key="TypeDateTimeUnit" value="DateTimeUnit" />
        <add key="TypeDefaultActionDataChanges" value="DefaultActionDataChanges" />
        <add key="TypeEmailSettings" value="EMAIL_SETTINGS" />
        <add key="TypeEmployeeFamilyDataChanges" value="EmployeeFamilyDataChanges" />
        <add key="TypeEmployeeTaxType" value="EmployeeTaxType" />
        <add key="TypeEssApprovalStatus" value="EssApprovalStatus" />
        <add key="TypeEssRequestStatus" value="EssRequestStatus" />
        <add key="TypeFilePath" value="FILE_PATH" />
        <add key="TypeFolderPath" value="FOLDER_PATH" />
        <add key="TypeHireLevel" value="HireLevel" />
        <add key="TypeInsert" value="Insert" />
        <add key="TypeLeaveGroup" value="LeaveGroup" />
        <add key="TypeMonthName" value="MonthName" />
        <add key="TypePaymentTerm" value="PaymentTerm" />
        <add key="TypePayrollReportType" value="PayrollReportType" />
        <add key="TypePtkpStatus" value="PTKPStatus" />
        <add key="TypeRequestFor" value="RequestFor" />
        <add key="TypeRequestStatus" value="RequestStatus" />
        <add key="TypeSubjectTraining" value="SubjectTraining" />
        <add key="TypeTaxCalculationType" value="TaxCalcType" />
        <add key="TypeTaxRateFlag" value="TaxRateFlag" />
        <add key="TypeVariable" value="Variable" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="UpdatedCellBackColor" value="LightGreen" />
        <add key="UpdtFlagLoanEntry" value="Pattern" />
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
        <add key="webpages:Enabled" value="false" />
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="WhiteBoxFilePath" value=".\\Resources\\white-box.png" />
        <add key="DefaultPayrollProfileCode" value="OFFICE" />
        <add key="CodeDownloadPayslip" value="DOWNLOAD_PAYSLIP" />
        <add key="ReportCodeSalarySlipReport" value="Pay1" />
        <add key="ReportCodeSalaryRegisterReport" value="Pay2" />
        <add key="ReportCodeSalaryAnnualDetailReport" value="Pay4" />
        <add key="ReportCodeSalaryAnnualSumReport" value="Pay5" />
        <add key="ReportCodeSalaryRegisterGroupReport" value="Pay6" />
        <add key="IsShowingPrintButtonInRdlcViewer" value="true" />
        <add key="JoinType" value="578,3242" />
        <add key="ResignType" value="579" />
        <add key="PromotionType" value="580" />
        <add key="IsShowingColumnPangkat" value="true" />
        <add key="IsShowingColumnGolongan" value="true" />
        <add key="IsShowingColumnRuang" value="true" />
        <add key="Tenant" value="Mercu" />
        <add key="CustomAppName" value="" />
        <add key="UploadRootPath" value="~/Upload" />
        <!-- Used for all Mercu excel report -->
        <!--wakil rektor II sdm -->
        <add key="MercuViceDirPosCode" value="003-JBTN-RKTKSD" />
        <!--direktur sdm -->
        <add key="MercuHRDirPosCode" value="008-JBTN-DRTSD" />
        <!--kepala biro sdm -->
        <add key="MercuHRBureauHeadPosCode" value="023-JBTN-BSDM" />
        <!-- rektor -->
        <add key="MercuRector" value="001-JBTN-RKTR" />
        <!--direktur keuangan -->
        <add key="MercuFinanceDirector" value="007-JBTN-DRTKEU" />
        <!--kabag penggajian -->
        <add key="MercuPayrollHead" value="027-JBTN-BSDM" />
        <!-- Edit using http://jsoneditoronline.org/ -->
        <add key="DocumentMapJson" value="[{'Pattern':'pay%','MapsToCollectionCode':'MERCU_PAYROLL'},{'Pattern':'%thr%','MapsToCollectionCode':'MERCU_THR'},{'Pattern':'%lembur%','MapsToCollectionCode':'MERCU_OVERTIME'},{'Pattern':'%prodi%','MapsToCollectionCode':'MERCU_BONUS_STUDYPROGRAM'},{'Pattern':'%bonus%','MapsToCollectionCode':'MERCU_BONUS'}]" />
        <add key="AdditionalExcelReportNamespace" value="" />
        <add key="AdditionalAttendanceDataFormatNamespace" value="" />
        <add key="SessionTimeout" value="30" />
    </appSettings>
    <ConfigSection>
        <add key="AdditionalExcelReportNamespace" value="Enta.Module.ExcelReport.Additional" />
        <add key="AdditionalAttendanceDataFormatNamespace" value="" />
    </ConfigSection>
    <ConfigSection2>
        <add key="AdditionalExcelReportNamespace" value="Enta.Module.ExcelReport.Additional" />
        <add key="AdditionalAttendanceDataFormatNamespace" value="" />
    </ConfigSection2>
</configuration>