<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <app title="Deployment Table"
         xmlns:text="https://github.com/asakura89/eksmaru/text"
         xmlns:mtext="https://github.com/asakura89/eksmaru/multiline-text"
         xmlns:number="https://github.com/asakura89/eksmaru/number"
         xmlns:boolean="https://github.com/asakura89/eksmaru/boolean"
         xmlns:sselect="https://github.com/asakura89/eksmaru/single-select"
         xmlns:mselect="https://github.com/asakura89/eksmaru/multi-select"
         xmlns:ref="https://github.com/asakura89/eksmaru/reference"
         xmlns:mref="https://github.com/asakura89/eksmaru/multi-reference">

        <sselect:environment default="env-staging">
            <env-staging value="Staging" />
            <env-prod value="Production" />
        </sselect:environment>

        <text:severity persist="false" default="THIS_IS_JUST_EXAMPLE_REPLACE_WITH_YOURS Short period of downtime (less than 1 minutes)" />

        <sselect:business-impact default="imp-low">
            <imp-low value="Low" />
            <imp-med value="Medium" />
            <imp-hi value="High" />
        </sselect:business-impact>

        <sselect:technical-impact default="imp-low">
            <imp-low value="Low" />
            <imp-med value="Medium" />
            <imp-hi value="High" />
        </sselect:technical-impact>

        <mtext:root-cause persist="false">
            <![CDATA[
                THIS_IS_JUST_EXAMPLE_REPLACE_WITH_YOURS
                {panel:title=Issue reported by user}
                Please refer to VAPT Doc here [\[Link\]|https://jira.xtremax.com/browse/GOVGTT-5?focusedCommentId=439740&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-439740]
                {panel}
                {panel:title=Investigation result}
                 Please refer to our assesment here [\[Link\]|https://docs.google.com/spreadsheets/d/1lNBUoVj3-U9u0lTDxnV8PrA0QV4C-2no_AYxkaq2p0c/edit#gid=111404653]
                {panel}
            ]]>
        </mtext:root-cause>

        <mtext:deployment-purposes persist="false">
            <![CDATA[
                THIS_IS_JUST_EXAMPLE_REPLACE_WITH_YOURS
                This deployment will address issue no 2 (HTTP Verb tampering). Issue no 1 will be handled fully by ATFM, no 3 will be prepared by MCICrop team and executed by ATFM, and issue no 4 can refer to above comment [\[Link\]|https://jira.xtremax.com/browse/GOVGTT-5?focusedCommentId=452815&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-452815]
            ]]>
        </mtext:deployment-purposes>

        <mref:verification>
            <item value="[~dita.subrata@xtremax.com]" />
        </mref:verification>
        
        <mtext:packages-verification>
            <![CDATA[
                Pending verification by:
                    ${ref:verification}
            ]]>
        </mtext:packages-verification>

        <mtext:deployment-checklist persist="false">
            <![CDATA[
                [Checklist| INSERT_LINK_HERE]
            ]]>
        </mtext:deployment-checklist>

        <mtext:package-structure persist="false">
            <![CDATA[
                THIS_IS_JUST_EXAMPLE_REPLACE_WITH_YOURS
                {panel:title=Intranet package}
                {noformat}
                    vaptchecker-httpverbstampering.config
                    vaptchecker-httpverbstampering.ps1
                {noformat}
                {panel}
            ]]>
        </mtext:package-structure>

        <mtext:internet-package>
            <![CDATA[
                -
            ]]>
        </mtext:internet-package>

        <mtext:intranet-package>
            <![CDATA[
                -
            ]]>
        </mtext:intranet-package>

        <mtext:sitecore-package>
            <![CDATA[
                -
            ]]>
        </mtext:sitecore-package>

        <mtext:db-script>
            <![CDATA[
                -
            ]]>
        </mtext:db-script>

        <mtext:stash-link>
            <![CDATA[
                -
            ]]>
        </mtext:stash-link>

        <mtext:instructions>
            <![CDATA[
                THIS_IS_JUST_EXAMPLE_REPLACE_WITH_YOURS
                The instruction will contains step by steps through IIS UI. But the stash link will contains the resulting config after edited through IIS UI.
                \\
                \\
                [Instruction|https://xtremax.sharepoint.com/:b:/s/XTR-Project/GOVSG/EQ8cXT8MRcVJlmm9vir7C4oBy6QjspVd5ge7J0WsgJqcag?e=OzgIPa]
            ]]>
        </mtext:instructions>

        <mtext:post-deployment-verfication>
            <![CDATA[
                _In the instruction above._
            ]]>
        </mtext:post-deployment-verfication>

        <mtext:rollback-plan>
            <![CDATA[
                _In the instruction above._
            ]]>
        </mtext:rollback-plan>

        <mref:pe-and-or-dev>
            <item value="[~rofifah.jannah@xtremax.com]" />
        </mref:pe-and-or-dev>

        <mtext:carbon-copy>
            <![CDATA[
                Cc: ${ref:pe-and-or-dev}
            ]]>
        </mtext:carbon-copy>
    </app>

    <data xmlns:item="https://github.com/asakura89/eksmaru/item">
    </data>
</configuration>