<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Security.Key" value="VEJWR2JpRnJnN29ZczFxTUxLOFBVSDBJenItcERuTFFDdzFWUTE3Z0NzQQ" />
    <add key="Security.Salt" value="YXBuWlhkaW1YcXJqNExTYktQNUtVUjg1MWdkc3B3eno2QzRaQWd5SW15bUM1eEExMlFBbWZfTlVKUGhTbHpRb0JZaHhyNk50UUhoUVAtSUNydTV1Rnc" />

    <add key="Api.Url" value="http://api.devsvr.net/?item=${config:Api.Params.Item}&amp;field=${econfig:Api.Params.Field}" />
    <add key="Api.Params.Item" value="kntprZ8Q0IGliqYY7DztEffC02czEsPDokscXOZmIwM" />
    <add key="Api.Params.Field" value="x03p4EuHOmMaaXGE9ArgltTBbEXEJG2qHvx4dYZU0LE" />

    <add key="Http.Payload_1" value="${urle:The payload contains message}" />
    <add key="Http.Payload_2" value="${urle:${config:Api.Url}}" />
    <add key="Http.Payload_3" value="${urld:${config:Api.Url}}" />
    <add key="Http.Payload_4" value="${htmle:${econfig:Api.Params.Field}}" />
    <add key="Http.Payload_5" value="${htmld:${config:Api.Params.Item}}" />
    <add key="Http.Payload_6" value="${urle:Now complex value with ${config:Api.Params.Item} and ${Name} also ${var:1m} are used.}" />
    <add key="Http.Payload_7" value="http://api.devsvr.net/?item=${urle:${config:Api.Params.Item}&amp;field=${econfig:Api.Params.Field}}" />
    <add key="Http.Timeout" value="${var:1m}" />
    <add key="Http.RepeatInterval" value="${var:4h}" />
    <add key="Http.RetryInterval" value="${var:30s}" />
  </appSettings>
</configuration>