<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppConnectionString" connectionString="data source=KEA-SETO01; initial catalog=myentity; integrated security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="AppPort" value="10000"/>
  </appSettings>
</configuration>