<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Item Name="" Size="1265, 695" />
    <Item Name="" Size="500, 340" />
    <Item Name="" Size="385, 217" />

    <Item Name="" Size="1024, 768" />
    <Item Name="" Size="1080, 695" />
    <Item Name="" Size="1080, 550" />
    <Item Name="" Size="1080, 650" />
    <Item Name="" Size="1200, 650" />
    <Item Name="" Size="1920, 1080" />

    <Item Name="" Size="850, 925" />
    <Item Name="" Size="925, 850" />

    <Item Name="" Size="1440, 765" />
    <Item Name="" Size="1580, 870" />
    <Item Name="" Size="1120, 645" />
    <Item Name="" Size="1080, 575" />

    <Item Name="" Size="450, 1040" />
</Configuration>